@model GestioneContravvenzioni.Models.Anagrafica

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Modifica anagrafica</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.IDanagrafica)
    <div class="form-group my-3">
        @Html.LabelFor(model => model.Cognome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cognome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cognome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group my-3">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group my-3">
        @Html.LabelFor(model => model.Indirizzo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Indirizzo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Indirizzo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group my-3">
        @Html.LabelFor(model => model.Citta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Citta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Citta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group my-3">
        @Html.LabelFor(model => model.CAP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CAP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CAP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group my-3">
        @Html.LabelFor(model => model.Cod_Fisc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cod_Fisc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cod_Fisc, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group my-3">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary btn-custom">
                <i class="bi bi-check-square"></i> Salva
            </button>
        </div>
    </div>
</div>
}

<div>
    <a href="@Url.Action("Index", "Anagrafiche")" class="btn btn-primary btn-custom">
        <i class="bi bi-arrow-left-square"></i>
        Lista
    </a>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
