@{
    ViewBag.Title = "Home Page";
}

<main>


    <div class="row">
        <div class="col-sm-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Verbali</h5>
                    <p class="card-text">@ViewBag.TotalVerbali</p>
                    <a href="@Url.Action("Verbali", "Home")" class="btn btn-primary btn-custom">
                        <i class="bi bi-arrow-right-square"></i>
                        Visualizza
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Punti decurtati</h5>
                    <p class="card-text">@ViewBag.TotalPuntiDecurtati</p>
                    <a href="@Url.Action("Punti", "Home")" class="btn btn-primary btn-custom">
                        <i class="bi bi-arrow-right-square"></i>
                        Visualizza
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Violazioni >10 punti</h5>
                    <p class="card-text">@ViewBag.VerbaliOltre10Punti</p>
                    <a href="@Url.Action("Verbali_Oltre10Punti", "Home")" class="btn btn-primary btn-custom">
                        <i class="bi bi-arrow-right-square"></i>
                        Visualizza
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Violazioni >400 €</h5>
                    <p class="card-text">@ViewBag.VerbaliOltre400Euro</p>
                    <a href="@Url.Action("Verbali_Oltre400Euro", "Home")" class="btn btn-primary btn-custom">
                        <i class="bi bi-arrow-right-square"></i>
                        Visualizza
                    </a>
                </div>
            </div>
        </div>
    </div>


</main>